<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Here again</title>
</head>
<body>
  <p>Hello betty</p>
  <p>This will be our home page.  Eventually we will be able ot tell the server where you are!</p>
</body>
</html>
