/*purple #A593E0 light grey  off white Cdark gray #566270  1271*/



body {
  background-color: #566270  ;
  color: : #ç
}


h1 {
  color:  #566270 ;
  text-align: center;
  display: list-item;
}

h2 {
  color:#FFFFF3;
}

article {
  background-color: aliceblue;
}
