<!DOCTYPE html>
<html>
<head>
  <title>RailsAg1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




  <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">CounterPoint Services</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/ag2s">Law goes cloud</a></li>
          <li><a href="/web1"">Law goes web 0.5</a></li>
          <li><a href="/ag2s/4">Law goes web 1.0</a></li>
          <li><a href="/digital">Law goes digital</a></li>



        </ul>
      </div>



        </nav>

        <div class="container">
<%= yield %>


  </div>

</body>
</html>
