<!DOCTYPE html>
<html>
<head>
  <title>RailsAg1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="pure-menu pure-menu-horizontal">
      <a href="#" class="pure-menu-heading"><a href="/" class="pure-menu-link">Counterpoint</a>

          <li class="pure-menu-item"><a href="/ag2s" class="pure-menu-link">Law goes cloud</a></li>
          <li class="pure-menu-item pure-menu-selected"><a href="/web1" class="pure-menu-link">Law goes web 0.5</a></li>
          <li class="pure-menu-item"><a href="/ag2s/4" class="pure-menu-link">Law goes web 1.0</a></li>

          <li class="pure-menu-item"><a href="/digital" class="pure-menu-link">Law "goes digital"</a></li>

  </div>




<%= yield %>


</body>
</html>
