
<!-- <h2>Law goes the full digital monty!</h2> -->

<nav>
<div class="nav-wrapper">
  <!-- <a href="/help" class="brand-logo left">Help</a> -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li<a href="/about"><class="waves-effect waves-light">About this agreement</a></li>
      <li><a href="/steps"><class="waves-effect waves-light"></a></li>
      <li><a href="/terms"><class="waves-effect waves-light"></a></li>
      <li><a href="/agreement"><class="waves-effect waves-light"></a></li>

    </ul>
  </div>
</nav>




<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="/about">About</a></li>
        <li class="tab col s3"><a href="/steps">Key steps</a></li>
        <li class="tab col s3"><a href="/terms">Key terms</a></li>
        <li class="tab col s3"><a href="/agreement">The document</a></li>
      </ul>
    </div>
    <!-- <div id="test1" class="col s12">About the agreement</div>
    <div id="test2" class="col s12">Key steps</div>
    <div id="test3" class="col s12">Key terms</div>
    <div id="test4" class="col s12">The document you signed</div> -->
  </div>

<!-- <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About this agreement</a></li>

<li class="pure-menu-item"><a href="/steps" class="pure-menu-link">Key steps or stages</a></li>

<li class="pure-menu-item pure-menu-selected"><a href="terms" class="pure-menu-link">Key terms</a></li>

<li class="pure-menu-item"><a href="agreement" class="pure-menu-link">Ye old fashioned agreement</a></li>

<li class="pure-menu-item"><a href="help" class="pure-menu-link">Help</a></li>


get '/digital' => 'digital#home'

get '/about' => 'digital#about'

get '/terms' => 'digital#terms'
get '/steps' => 'digital#steps'
get '/agreement' => 'digital#agreement'
get '/help' => 'digital#help' -->
