<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Digital home</title>
</head>
<body>




<h2>Law goes the full digital monty!</h2>

<%= render "persistent_nav" %>



<div class="banner">
    <h1 class="banner-head">
      <span class=" blue-text darken-text">
    <i>Agreements made simple.<br>
    Understand what you sign.</i>
  </span>
</h1>
</div>

</body>
</html>
