<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Steps</title>
</head>
<body>

  <h1>Key stages of the agreement</h1>

  <%= render "persistent_nav" %>

  <div class="row">

        <!-- <div class="col s12">
          <h2>The key stages of the sale</h2>
        </div> -->

        <div class="col s4">
          <div class="row">
          <h5>Step 1</h5>
          <div class="card blue lighten-3">
                <div class="card-content white-text">
                  <span class="card-title">You've signed!</span>
                    <p>Congratulations!  Now you need to look after the business, while you wait for the time to come to receive the money. </p>
                  </div>
          </div>
        </div>
      </div>




      <div class="col s4">
        <div class="row">
          <h5>Step 2</h5>
        <div class="card blue lighten-3">
              <div class="card-content white-text">
                  <span class="card-title">The middle bit!</span>
                    <p>The buyer's going to be double checking everything to make sure it's all ok.  It's called due diligence. You also need to look after it.</p>
                </div>
        </div>
      </div>
    </div>


    <div class="col s4">
      <div class="row">
      <h5>Step 3</h5>
      <div class="card blue lighten-3">
            <div class="card-content white-text">
                <span class="card-title">Show me the money!</span>
                  <p>The last step is "completion".  This is when the buyer will pay you lots of money, and you will give them all the keys</p>
              </div>
      </div>
    </div>
  </div>

        <!-- <div class="col s3">This div is 6-columns wide</div> -->






</body>
</html>
